<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/addBookResult">
			<input type="text" name="uId" th:attr="value=${user.uId}"/>
bookName  	<input type="text" name="bookName" 		value=""> <br>
bookType    <input type="text" name="bookType" 		value=""> <br>
publisher	<input type="text" name="publisher" 	value=""> <br>
author		<input type="text" name="author" 		value=""> <br>
newDegree	<input type="text" name="newDegree" 	value=""> <br>
address		<input type="text" name="address" 		value=""> <br>
price		<input type="text" name="price" 		value=""> <br>
img			<input type="file" name="file">                    <br>
			<input type="submit" value="commit">
</form>
</body>
</html>