<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/addBook">
bId       	<input type="text" name="bId"      		value="1"> <br>
bookName  	<input type="text" name="bookName" 		value="2"> <br>
book_owner	<input type="text" name="book_owner" 	value="3"> <br>
publisher	<input type="text" name="publisher" 	value="4"> <br>
author		<input type="text" name="author" 		value="5"> <br>
newDegree	<input type="text" name="newDegree" 	value="6"> <br>
address		<input type="text" name="address" 		value="7"> <br>
onsale		<input type="text" name="onsale" 		value="8"> <br>
isDel		<input type="text" name="isDel" 		value="9"> <br>
price		<input type="text" name="price" 		value="0"> <br>
img			<input type="file" name="file">                    <br>
			<input type="submit" value="commit">
</form>
</body>
</html>