<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Detail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/bookDetail.css}" />
<style type="text/css">
#image_container {
	display: inline-block;
	width: 20rem;
	height: 20rem;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	float:left;
}
</style>
</head>
<body>
	<div th:include="TabTemplate::UpperTab"></div>

	<main role="main" class="App-main">
	<div class="Topstory">
		<div class="Topstory-container">
			<div class="Topstory-mainColumn">
				<div class="Card Topstory-noMarginCard Topstory-tabCard"
					style="height: 30px">
					<a style="font-size: 15px;"> >>书籍详情</a>
				</div>
				<div id="TopstoryContent" class="Topstory-content">
					<div class="Topstory-recommend">
						<div class="">
							<div class="Card TopstoryItem TopstoryItem-isRecommend">
								<div style="float: left; width: 50%">
									<div class="bookImgform">
										<form enctype="multipart/form-data" method="post"
											action="/modifyImg">
											<input type="hidden" name="uId" th:attr="value=${user.uId}" />
											<input type="hidden" name="bId" th:attr="value=${book.bId}" />
											
											<div class="contentDiv" id="image_container" th:style="'background-image:url(' + ${book.img} + ')'">
												<div th:if="${isBookMine==true}" class="contentDiv"
													style="visibility: hidden" id="file_div">
													<input type="file" accept="image/*" name="file"
														id="image_file" value="" />
												</div>
											</div>
											
											<div th:if="${isBookMine==true}" class="contentDiv"
												style="visibility: hidden" id="submit_div">
												<input type="submit"
													style="border-style: none; color: green; margin-left: 10px; font-size: 15px;"
													value="更新图片">
											</div>
										</form>
									</div>

									<div th:if="${isBookMine==true}" class="buttonContainer">
										<button id="modifyImgButton" type="button"
											style="color: green" th:onClick="'javascript:modifyImg()'">编辑图片</button>
									</div>
								</div>

								<div style="float: right; width: 50%">
									<div class="bookDescription">
										<input type="hidden" id="hidden_bId"
											th:attr="value=${book.bId}" /> <input type="hidden"
											id="hidden_isDel" th:attr="value=${book.isDel}" /> <input
											type="hidden" id="hidden_img" th:attr="value=${book.img}" />
										<div class="contentDiv">
											<p id="bookName" th:text="${book.bookName}"></p>
										</div>
										<div class="contentDiv">
											<label>书籍类型：</label>
											<p class="contentp" id="bookType" th:text="${book.bookType}"></p>
										</div>
										<div class="contentDiv">
											<label>作者：</label>
											<p class="contentp" id="bookAuthor" th:text="${book.author}"></p>
										</div>
										<div class="contentDiv">
											<label>出版商：</label>
											<p class="contentp" id="bookPublisher"
												th:text="${book.publisher}"></p>
										</div>
										<div class="contentDiv">
											<label>新旧程度：</label>
											<p class="contentp" id="bookNewDegree"
												th:text="${book.newDegree}"></p>
										</div>
										<div class="contentDiv">
											<label id="bookOnsale" th:value="${book.onsale}">当前状态：</label>
											<td th:switch="${book.onsale}"><span th:case="0">挂起</span>
												<span th:case="1">在售</span> <span th:case="2">售出</span></td>
										</div>
										<div class="contentDiv">
											<label>所在地：</label>
											<p class="contentp" id="bookAddress"
												th:text="${book.address}"></p>
										</div>
										<div class="contentDiv">
											<label>所需积分：</label>
											<p class="contentp" id="bookPrice" th:text="${book.price}"></p>
										</div>
									</div>
									<div th:if="${isBookMine==true}" class="buttonContainer">
										<button type="button" th:onClick="'javascript:deleteBook()'"
											style="color: red">删除</button>
										<button id="modifyButton" type="button" style="color: green"
											th:onClick="'javascript:modifyBook()'">编辑</button>
									</div>
								</div>
							</div>
							<div th:if="${isBookMine==false}"
								class="Card TopstoryItem TopstoryItem-isRecommend"
								style="padding-top: 0">
								<div class="Card Topstory-noMarginCard Topstory-tabCard"
									style="height: 30px">
									<a style="font-size: 15px;">>>发起交易</a>
								</div>
								<div>
									<div class="tradeLabelContainer">
										<label class="tradeLabel">收货地址：</label> <input
											id="trade_sendTo" type="text"
											style="width: 500px; height: 30px" placeholder="请输入收货地址">
									</div>
									<div class="tradeLabelContainer">
										<label class="tradeLabel">备注：</label> <input
											id="trade_description" type="text"
											style="width: 500px; height: 30px" placeholder="请输入备注信息">
									</div>
								</div>
								<button type="submit" th:onClick="'javascript:tradeSubmit()'"
									style="border-style: none; color: green;">提交申请</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
		function search() {
			location.href = "/searchAll?uId="
					+ document.getElementById("hidden_uId").value + "&key="
					+ document.getElementById("Popover1-toggle").value;
		};

		function myMessage() {
			location.href = "/myMessage?uId="
					+ document.getElementById("hidden_uId").value;
		}

		function modifyImg() {
			if (modifyImgButton.textContent == "编辑图片") {
				// 显示隐藏的input file
				document.getElementById("file_div").style.visibility = "visible";
				document.getElementById("submit_div").style.visibility = "visible";
				modifyImgButton.textContent = "撤销编辑";
				
			} else {
				var bookImg = document.getElementById("hidden_img").value;
				document.getElementById("file_div").style.visibility = "hidden";
				document.getElementById("file_div").style.visibility = "hidden";
				document.getElementById("image_container").style.backgroundImage = "url(" + bookImg +")";
				modifyImgButton.textContent = "编辑图片";
			}
			// 图片修改
			var preview = document.querySelector('#image_container');
			var eleFile = document.querySelector('#image_file');
			eleFile.addEventListener('change', function() {
				var file = this.files[0];
				// 确认选择的文件是图片                
				if (file.type.indexOf("image") == 0) {
					var reader = new FileReader();
					reader.readAsDataURL(file);
					reader.onload = function(e) {
						// 图片base64化
						var newUrl = this.result;
						preview.style.backgroundImage = 'url(' + newUrl + ')';

						//confirm(eleFile.value);

					};
				}
			});

			//confirm("hehe");

		}

		function modifyBook() {
			var bookName = document.getElementById("bookName");
			var bookType = document.getElementById("bookType");
			var bookAuthor = document.getElementById("bookAuthor");
			var bookPublisher = document.getElementById("bookPublisher");
			var bookNewDegree = document.getElementById("bookNewDegree");
			var bookAddress = document.getElementById("bookAddress");
			var bookPrice = document.getElementById("bookPrice");

			//var bookImg = document.getElementById("hidden-img");

			bookName.setAttribute("contenteditable", "true");
			bookType.setAttribute("contenteditable", "true");
			bookAuthor.setAttribute("contenteditable", "true");
			bookPublisher.setAttribute("contenteditable", "true");
			bookNewDegree.setAttribute("contenteditable", "true");
			bookAddress.setAttribute("contenteditable", "true");
			bookPrice.setAttribute("contenteditable", "true");

			var modifyButton = document.getElementById("modifyButton");
			modifyButton.textContent = "完成"
			modifyButton.setAttribute("onclick", "javascript:modifyConfirm()")

		}

		function modifyConfirm() {
			if (confirm('确定要修改书籍信息?')) {
				modifyComplete();
			}
			return false;
		}

		function modifyComplete() {
			sendModify();
			var bookName = document.getElementById("bookName");
			var bookType = document.getElementById("bookType");
			var bookAuthor = document.getElementById("bookAuthor");
			var bookPublisher = document.getElementById("bookPublisher");
			var bookNewDegree = document.getElementById("bookNewDegree");
			var bookAddress = document.getElementById("bookAddress");
			var bookPrice = document.getElementById("bookPrice");
			bookName.setAttribute("contenteditable", "false");
			bookType.setAttribute("contenteditable", "false");
			bookAuthor.setAttribute("contenteditable", "false");
			bookPublisher.setAttribute("contenteditable", "false");
			bookNewDegree.setAttribute("contenteditable", "false");
			bookAddress.setAttribute("contenteditable", "false");
			bookPrice.setAttribute("contenteditable", "false");

			var modifyButton = document.getElementById("modifyButton");
			modifyButton.textContent = "修改"
			modifyButton.setAttribute("onclick", "javascript:modifyBook()")
		}

		function sendModify() {
			var bookName = document.getElementById("bookName").textContent;
			var bookType = document.getElementById("bookType").textContent;
			var bookAuthor = document.getElementById("bookAuthor").textContent;
			var bookPublisher = document.getElementById("bookPublisher").textContent;
			var bookNewDegree = document.getElementById("bookNewDegree").textContent;
			var bookOnsale = document.getElementById("bookOnsale")
					.getAttribute("value");
			var bookAddress = document.getElementById("bookAddress").textContent;
			var bookPrice = document.getElementById("bookPrice").textContent;
			var uId = document.getElementById("hidden_uId").value;
			var bId = document.getElementById("hidden_bId").value;
			var isDel = document.getElementById("hidden_isDel").value;
			var img = document.getElementById("hidden_img").value;

			location.href = "/bookModify?bookName=" + bookName + "&bookType="
					+ bookType + "&publisher=" + bookPublisher + "&author="
					+ bookAuthor + "&newDegree=" + bookNewDegree + "&address="
					+ bookAddress + "&onsale=" + bookOnsale + "&bookPrice="
					+ bookPrice + "&uId=" + uId + "&bId=" + bId + "&isDel="
					+ isDel + "&img=" + img;

		}

		function deleteBook() {
			if (confirm('确定要删除书籍信息?')) {
				deleteComplete();
			}
			return false;
		}

		function deleteComplete() {
			var uId = document.getElementById("hidden_uId").value;
			var bId = document.getElementById("hidden_bId").value;
			location.href = "/bookDel?bId=" + bId + "&uId=" + uId;
		}

		function tradeSubmit() {
			var trade_sendTo = document.getElementById("trade_sendTo").value;
			var trade_description = document
					.getElementById("trade_description").value;
			var uId = document.getElementById("hidden_uId").value;
			var bId = document.getElementById("hidden_bId").value;
			location.href = "/tradeSubmit?trade_sendTo=" + trade_sendTo
					+ "&trade_description=" + trade_description + "&uId=" + uId
					+ "&bId=" + bId;

		}
	</script>
</body>
</html>
