<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="header">hhh</div>
    
    <p class="bookId" th:text="${book.getbId()}"></p>
    <p class="bookName" th:text="${book.getBookName()}"></p>
    <p class="bookOwner" th:text="${book.getBook_owner()}"></p>
    <p class="bookType" th:text="${book.getBookType()}"></p>

</div>
</body>
</html>