<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index Hot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../../static/css/index.css" />
	<!-- <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        function loadCookie(){
        	var token = get_cookie("software.nju.token");
        	$('a').each(
        		function(){
        			var oldHref = $(this).attr('href'); 
        			if(oldHref.indexOf("?")!=-1){
        				$(this).attr('href', oldHref+'&token='+token)
        			}
        			else{
        				$(this).attr('href', oldHref+'?token='+token)
        			}
        		}
        	)
        }

		function get_cookie(Name) {
		   var search = Name + "="//查询检索的值
		   var returnvalue = "";//返回值
		   if (document.cookie.length > 0) {
		     sd = document.cookie.indexOf(search);
		     if (sd!= -1) {
		        sd += search.length;
		        end = document.cookie.indexOf(";", sd);
		        if (end == -1)
		         end = document.cookie.length;
		         //unescape() 函数可对通过 escape() 编码的字符串进行解码。
		        returnvalue=unescape(document.cookie.substring(sd, end))
		      }
		   } 
		   return returnvalue;
		}
		/*]]>*/


	</script> -->

</head>
<body>
	<div th:include="TabTemplate::UpperTab"></div>
	
	<hr>

	<table>
		<tr>
			<td th:if="${pageInfo.hasPreviousPage}"><a
				th:href="'?uId=' + ${user.uId} + '&pageNum=1'">首页</a></td>
			<td th:if="${pageInfo.hasPreviousPage}"><a
				th:href="'?uId=' + ${user.uId} + '&pageNum=' + ${pageInfo.prePage}">上一页</a></td>
			<td th:each="navNum : ${pageInfo.navigatepageNums}"><a
				th:href="'?uId=' + ${user.uId} + '&pageNum=' + ${navNum}" th:text=${navNum}
				th:if="${navNum != pageInfo.pageNum}"></a> <span
				style="font-weight: bold" th:text="${navNum}"
				th:if="${navNum == pageInfo.pageNum}"></span></td>
			<td th:if="${pageInfo.hasNextPage}"><a
				th:href="'?uId=' + ${user.uId} + '&pageNum=' + ${pageInfo.nextPage}">下一页</a></td>
			<td th:if="${pageInfo.hasNextPage}"><a
				th:href="'?uId=' + ${user.uId} + '&pageNum=' + ${pageInfo.pages}">尾页</a></td>
		</tr>
	</table>
	
	<hr>
	
	
	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>热门书籍</a>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<!-- 每个推荐书目标签 -->
								<th:block th:each="book : ${pageInfo.list}">
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<img class="bookImg" src="${book.img}">
										<div class="bookDescription">
											<a class="bookName" th:text="${book.bookName}" th:href="'/bookDetail?bId='+${book.bId}+'&uId='+${user.uId}"></a>
											<p class="bookPublisher" th:text="'出版社：'+${book.publisher}"></p>
											<p class="bookAuthor" th:text="'作者：'+${book.author}"></p>
											<p class="bookPrice" th:text="'所需积分：'+${book.price}"></p>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	

	
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
		function search(){
	        location.href="/searchAll?uId="+document.getElementById("hidden_uId").value+"&key="+document.getElementById("Popover1-toggle").value;
	    };
	    
	    function myMessage(){
	        location.href="/myMessage?uId="+document.getElementById("hidden_uId").value;
	    	
	    }
	    
	</script> 

</body>
</html>
