<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/welcome.css}"
	href="../../static/css/index.css" />

</head>
<body>

	<div class="container">

		<div class="starter-template">
			<h1>login</h1>
			<h2>
				<span th:text="'Message: ' + ${message}"></span>
			</h2>
		</div>
		
		<div class="starter-template">
			<h1>Hot Book List</h1>
			
			<p th:text="'Top1: ' + ${hotBookList[0].getBookName()}"></p>
			<p th:text="'Top2: ' + ${hotBookList[1].getBookName()}"></p>
			<p th:text="'Top3: ' + ${hotBookList[2].getBookName()}"></p>
			<p th:text="'Top4: ' + ${hotBookList[3].getBookName()}"></p>
			<p th:text="'Top5: ' + ${hotBookList[4].getBookName()}"></p>
			
		</div>

	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
