<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lucky Draw</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../../static/css/index.css" />

</head>
<body>
	<div>
		<header role="banner" class="Sticky AppHeader" data-za-module="TopNavBar">
			<div class="AppHeader-inner" style="margin-left:100px;">
				<!-- 菜单栏 -->
				<nav role="navigation" class="AppHeader-nav">
					<a class="AppHeader-navItem is-active" th:href="'/index?uId='+${user.uId}" data-za-not-track-link="true">首页</a>
					<a class="AppHeader-navItem" th:href="'/myBook?uId='+${user.uId}" data-za-not-track-link="true">我的发布</a>
					<a class="AppHeader-navItem" th:href="'/flashSale?uId='+${user.uId}" data-za-not-track-link="true">超级秒杀</a>
					<a class="AppHeader-navItem" th:href="'/luckyDraw?uId='+${user.uId}" data-za-not-track-link="true">幸运抽奖</a>
				</nav>
				
				<!-- 搜索框 -->
				<div class="SearchBar" role="search" data-za-module="PresetWordItem">
					<div class="SearchBar-toolWrapper">
						<div>
							<div class="Popover">
								<div class="SearchBar-input Input-wrapper Input-wrapper--grey">
									<input type="hidden" id="hidden_uId" th:attr="value=${user.uId}"/>
									<input type="text"  maxlength="100" autocomplete="off" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-activedescendant="AutoComplete2--1" id="Popover1-toggle" aria-haspopup="true" aria-owns="Popover1-content" class="Input" placeholder="请输入要搜索的书名" value=""/>
									<div class="Input-after">
										<button aria-label="搜索"  type="button" th:onclick="'javascript:search()'" class="Button SearchBar-searchIcon Button--primary" style="border-style: none;">
											<span style="display: inline-flex; align-items: center;">
												​<svg class="Zi Zi--Search" fill="currentColor" viewBox="0 0 24 24" width="18" height="18">
													<path d="M17.068 15.58a8.377 8.377 0 0 0 1.774-5.159 8.421 8.421 0 1 0-8.42 8.421 8.38 8.38 0 0 0 5.158-1.774l3.879 3.88c.957.573 2.131-.464 1.488-1.49l-3.879-3.878zm-6.647 1.157a6.323 6.323 0 0 1-6.316-6.316 6.323 6.323 0 0 1 6.316-6.316 6.323 6.323 0 0 1 6.316 6.316 6.323 6.323 0 0 1-6.316 6.316z" fill-rule="evenodd"></path>
												</svg>
											</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="AppHeader-userInfo" >
					<!-- 我的消息 -->
					<div>
						<div class="Popover Messages AppHeader-messages">
								<button type="submit" th:onclick="'javascript:myMessage()'" id="Popover16-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover16-content" class="Button Messages-icon Button--plain">
									<span style="display: inline-flex; align-items: center;">​
										<svg class="Zi Zi--Comments" fill="currentColor" viewBox="0 0 24 24" width="22" height="22">
											<path d="M11 2c5.571 0 9 4.335 9 8 0 6-6.475 9.764-11.481 8.022-.315-.07-.379-.124-.78.078-1.455.54-2.413.921-3.525 1.122-.483.087-.916-.25-.588-.581 0 0 .677-.417.842-1.904.064-.351-.14-.879-.454-1.171A8.833 8.833 0 0 1 2 10c0-3.87 3.394-8 9-8zm10.14 9.628c.758.988.86 2.009.86 3.15 0 1.195-.619 3.11-1.368 3.938-.209.23-.354.467-.308.722.12 1.073.614 1.501.614 1.501.237.239-.188.562-.537.5-.803-.146-1.495-.42-2.546-.811-.29-.146-.336-.106-.563-.057-2.043.711-4.398.475-6.083-.927 5.965-.524 8.727-3.03 9.93-8.016z" fill-rule="evenodd">
											</path>
										</svg>
									</span>
									<span class="Messages-count">2</span>
								</button>
						</div>
					</div>
					<!-- 用户个人信息 -->
					<div class="AppHeader-profile">
						<div class="Popover AppHeader-menu">
							<form method="get" th:action="'/myProfile?uId='+${user.uId}">
								<button type="submit" id="Popover17-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover17-content" class="Button AppHeader-profileEntry Button--plain">
									<img class="Avatar AppHeader-profileAvatar" width="30" height="30" src="/img/userProfile.png">
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
	
	<hr>
	<hr>
	
	
	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>积分幸运抽奖</a>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<!-- 每个推荐书目标签 -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	

	
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
		function search(){
	        location.href="/searchAll?uId="+document.getElementById("hidden_uId").value+"&key="+document.getElementById("Popover1-toggle").value;
	    };
	    
	    function myMessage(){
	        location.href="/myMessage?uId="+document.getElementById("hidden_uId").value;
	    	
	    }
	    
	</script> 

</body>
</html>
