<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>My Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../../static/css/index.css" />

</head>
<body>
	<div th:include="TabTemplate::UpperTab"></div>

	
	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>我发布的书籍</a>
						<button style="float:right;font-size: 20px;color: green;margin-right: 20px;" th:onclick="'javascript:addBook()'">+</button>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<!-- 每个推荐书目标签 -->
								<th:block th:each="book : ${myBookList}">
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<img class="bookImg" th:src="${book.img}">
										<div class="bookDescription">
											<a class="bookName" th:text="${book.bookName}" th:href="'/bookDetail?bId='+${book.bId}+'&uId='+${user.uId}"></a>
											<p class="bookPublisher" th:text="'出版社：'+${book.publisher}"></p>
											<p class="bookAuthor" th:text="'作者：'+${book.author}"></p>
											<p class="bookPrice" th:text="'所需积分：'+${book.price}"></p>
										</div>
									</div>
								</th:block>
								<span th:if="${#lists.isEmpty(myBookList)}" >
									<a style="margin-left:20px">当前未发布过旧书, 点击 + 发布旧书</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
		function search(){
	        location.href="/searchAll?uId="+document.getElementById("hidden_uId").value+"&key="+document.getElementById("Popover1-toggle").value;
	    };
	    
	    function myMessage(){
	        location.href="/myMessage?uId="+document.getElementById("hidden_uId").value;
	    	
	    }
	    
	    function addBook(){
	    	location.href="/addBook?uId="+document.getElementById("hidden_uId").value;
	    }
	    
	</script> 

</body>
</html>
