<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../../static/css/index.css" />
	
	
<title>Insert title here</title>
</head>
<body>

<div th:include="TabTemplate::UpperTab"></div>


<h1>My Profile</h1>

<div class="contentDiv">
	<p th:text="'My ID   		: ' + ${user.uId}"></p>
	<p th:text="'My Name 		: ' + ${user.userName}"></p>
	<p th:text="'My Password 	: ' + '******' "></p>
	<p th:text="'My Score  	: ' + ${user.score}"></p>
	<p th:text="'My Credit  	: ' + ${user.credit}"></p>
	</div>
	
	
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:inline="javascript">	    
	    function myMessage(){
	        location.href="/myMessage?uId="+document.getElementById("hidden_uId").value;
	    	
	    }
	    
	</script> 

</body>
</html>