<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Message</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/myPurchaseRecord.css}"/>

</head>
<body>
	<div th:include="TabTemplate::UpperTab"></div>
	
	<hr>
	
	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>购买记录</a>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<th:block th:each="trade : ${buyList}">									
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<div class="tradeDescription">
											<p class="bookName" th:text="'书名：'+${trade.bookName}"></p>
											<p class="seller" th:text="'卖家：'+${trade.sellerName}"></p>
											<p class="start" th:text="'开始时间：'+${trade.start}"></p>
											<p class="end" th:text="'结束时间：'+${trade.end}"></p>
											<p class="sendTo" th:text="'目的地：'+${trade.sendTo}"></p>
											<p class="description" th:text="'描述：'+${trade.description}"></p>
											<div th:if=" ${trade.status} eq '0'">
												<p class="status" th:text="'状态：申请中'"></p>
												<button style="border-style:none;color:green;" th:onclick="'javascript:cancelApplication(\''+${trade.tId}+'\',\''+${trade.buyerId}+'\')'">取消申请</button>
											</div>
											<div th:if=" ${trade.status} eq '1'">
												<p class="status" th:text="'状态：申请成功，等待卖家发货'"></p>
											</div>
											<div th:if=" ${trade.status} eq '5'">
												<p class="status" th:text="'状态：卖家已发货'"></p>
												<p>物流信息</p>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:purchaseSuccess(\''+${trade.tId}+'\',\''+${trade.buyerId}+'\')'">确认收货</button>
											</div>
											<div th:if=" ${trade.status} eq '2'">
												<p class="status" th:text="'状态：卖家已拒绝'"></p>
											</div>
											<div th:if=" ${trade.status} eq '3'">
												<p class="status" th:text="'状态：已确认收货'"></p>
											</div>
											<div th:if=" ${trade.status} eq '4'">
												<p class="status" th:text="'状态：交易已取消'"></p>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<script th:inline="javascript">
		function cancelApplication(tId, uId){
			location.href="/cancelApplication?tId="+tId+"&uId="+uId;
		};
	    function purchaseSuccess(tId, uId){
	        location.href="/purchaseSuccess?tId="+tId+"&uId="+uId;
	    };
	</script> 
</body>
</html>