<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Message</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/myPurchaseRecord.css}"/>

</head>
<body>
	<div th:include="TabTemplate::UpperTab"></div>
	
	<hr>
	
	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>购买记录</a>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<th:block th:each="trade : ${buyList}">									
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<img class="bookImg" style="margin-top:30px;" th:src="${trade.book_src}">
										<div class="tradeDescription">
											<p class="bookName" th:text="'书名：'+${trade.bookName}"></p>
											<p class="seller" th:text="'卖家：'+${trade.sellerName}"></p>
											<p class="start" th:text="'开始时间：'+${trade.start}"></p>
											<p class="end" th:text="'结束时间：'+${trade.end}"></p>
											<p class="sendTo" th:text="'目的地：'+${trade.sendTo}"></p>
											<p class="description" th:text="'描述：'+${trade.description}"></p>
											<div th:if=" ${trade.status} eq '0'">
												<p class="status" th:text="'状态：申请中'"></p>
												<button style="border-style:none;color:green;" th:onclick="'javascript:cancelApplication(\''+${trade.tId}+'\',\''+${trade.buyerId}+'\')'">取消申请</button>
											</div>
											<div th:if=" ${trade.status} eq '1'">
												<p class="status" th:text="'状态：申请成功，等待卖家发货'"></p>
											</div>
											<div th:if=" ${trade.status} eq '5'">
												<p class="status" th:text="'状态：卖家已发货'"></p>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:purchaseSuccess(\''+${trade.tId}+'\',\''+${trade.buyerId}+'\')'">确认收货</button>
												<div style="margin-left: -250px;">
													<hr size=0.5 color=#cccccc style="border:1 dashed #5151A2">
												    <div th:if=" ${trade.isInfoExist} eq '0'">
														<p style="margin-left: 20px;" th:text="'暂无物流信息'"></p>
													</div>
													<div th:if=" ${trade.isInfoExist} eq '1'">
														<p style="margin-left: 20px;" th:text="'物流信息:'"></p>
														<th:block th:each="data : ${trade.lInfo}">	
															<p th:text="${data}"></p>
														</th:block>
													</div>
												</div>
											</div>
											<div th:if=" ${trade.status} eq '2'">
												<p class="status" th:text="'状态：卖家已拒绝'"></p>
											</div>
											<div th:if=" ${trade.status} eq '3'">
												<p class="status" th:text="'状态：已确认收货'"></p>
												<form enctype="multipart/form-data" method="post" action="/commentWriter">
											    	<input type="hidden" name="uId" th:attr="value=${user.uId}" />
											    	<input type="hidden" name="tId" th:attr="value=${trade.tId}" />
											    	<input type="hidden" name="sellerId" th:attr="value=${trade.sellerId}" />
											    	<div>
											    		<label style="margin">评价本次交易：</label>
														<select class="form-control" style="height: 23px;" name="grade">
															<option>选择评分</option>
															<option  th:value="1" th:text="1"></option>
															<option  th:value="2" th:text="2"></option>
															<option  th:value="3" th:text="3"></option>
															<option  th:value="4" th:text="4"></option>
															<option  th:value="5" th:text="5"></option>
														</select>
												  		<button type="submit" style="border-style:none;color:green;">提交</button>
												  	</div>
											    </form>
											</div>
											<div th:if=" ${trade.status} eq '4'">
												<p class="status" th:text="'状态：交易已取消'"></p>
											</div>
											<div th:if=" ${trade.status} eq '6'">
												<p class="status" th:text="'状态：交易已完成'"></p>
												<p class="status" th:text="'本次交易评分：'+${trade.grade}"></p>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<script th:inline="javascript">
		function cancelApplication(tId, uId){
			location.href="/cancelApplication?tId="+tId+"&uId="+uId;
		};
	    function purchaseSuccess(tId, uId){
	        location.href="/purchaseSuccess?tId="+tId+"&uId="+uId;
	    };
		function search(){
	        location.href="/searchAll?uId="+document.getElementById("hidden_uId").value+"&key="+document.getElementById("Popover1-toggle").value;
	    };
	</script> 
</body>
</html>