<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Message</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/mySaleRecord.css}"/>

</head>
<body>
	<div th:include="TabTemplate::UpperTab"></div>
	
	<hr>
	
	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>售卖记录</a>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<th:block th:each="trade : ${saleList}">									
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<div class="tradeDescription">
											<p class="bookName" th:text="'书名：'+${trade.bookName}"></p>
											<p class="buyer" th:text="'买家：'+${trade.buyerName}"></p>
											<p class="start" th:text="'开始时间：'+${trade.start}"></p>
											<p class="end" th:text="'结束时间：'+${trade.end}"></p>
											<p class="sendTo" th:text="'目的地：'+${trade.sendTo}"></p>
											<p class="description" th:text="'描述：'+${trade.description}"></p>
											<div th:if=" ${trade.status} eq '0'">
												<p class="status" th:text="'状态：申请中'"></p>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:approveToSell(\''+${trade.tId}+'\',\''+${trade.sellerId}+'\')'">同意交易</button>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:refuseToSell(\''+${trade.tId}+'\',\''+${trade.sellerId}+'\')'">拒绝交易</button>
											</div>
											<div th:if=" ${trade.status} eq '1'">
												<p class="status" th:text="'状态：已同意售卖'"></p>
											    <form enctype="multipart/form-data" method="post" action="/logisticsWriter">
											    	<input type="hidden" name="uId" th:attr="value=${user.uId}" />
											    	<input type="hidden" name="tId" th:attr="value=${trade.tId}" />
											    	<hr>
											    	<div>
											    		<p>请输入物流信息：</p>
											    	</div>
											    	<div>
														<input class="logisticsInput" type="text" name="lName" placeholder="物流名称">
														<input class="logisticsInput" type="text" name="lNum" placeholder="物流单号">
												  		<button type="submit" style="border-style:none;color:green;">提交</button>
												  	</div>
											    </form>
											</div>
											<div th:if=" ${trade.status} eq '5'">
												<p class="status" th:text="'状态：已发货'"></p>
											    <p>物流信息</p>
											</div>
											<div th:if=" ${trade.status} eq '2'">
												<p class="status" th:text="'状态：拒绝'"></p>
											</div>
											<div th:if=" ${trade.status} eq '3'">
												<p class="status" th:text="'状态：买家已确认收货'"></p>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<script th:inline="javascript">
	    function approveToSell(tId, uId){
	        location.href="/approveToSell?tId="+tId+"&uId="+uId;
	    };
	    function refuseToSell(tId, uId){
	        location.href="/refuseToSell?tId="+tId+"&uId="+uId;
	    };
	</script> 
</body>
</html>