<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Message</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/mySaleRecord.css}"/>

</head>
<body>

	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>我的售卖</a>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<th:block th:each="trade : ${saleList}">									
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<div class="tradeDescription">
											<p class="bookName" th:text="'书名：'+${trade.bookName}"></p>
											<p class="buyer" th:text="'买家：'+${trade.buyerName}"></p>
											<p class="start" th:text="'开始时间：'+${trade.start}"></p>
											<p class="end" th:text="'结束时间：'+${trade.end}"></p>
											<p class="sendTo" th:text="'目的地：'+${trade.sendTo}"></p>
											<p class="description" th:text="'描述：'+${trade.description}"></p>
											<div th:if=" ${trade.status} eq '0'">
												<p class="status" th:text="'状态：申请中'"></p>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:approveSell(\''+${trade.tId}+'\',\''+${trade.sellerId}+'\')'">同意交易</button>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:refuseSell(\''+${trade.tId}+'\',\''+${trade.sellerId}+'\')'">拒绝交易</button>
											</div>
											<div th:if=" ${trade.status} eq '1'">
												<p class="status" th:text="'状态：申请成功，发货中'"></p>
												<!-- <button type="submit" style="border-style:none;color:green;">申请取消</button>  -->
											</div>
											<div th:if=" ${trade.status} eq '2'">
												<p class="status" th:text="'状态：拒绝'"></p>
											</div>
											<div th:if=" ${trade.status} eq '3'">
												<p class="status" th:text="'状态：收货完成'"></p>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<script th:inline="javascript">
	    function buySuccess(tId, uId){
	        location.href="/changeTradeStatus?tId="+tId+"&uId="+uId+"&status=3";
	    };
	    function approveSell(tId, uId){
	        location.href="/changeTradeStatus?tId="+tId+"&uId="+uId+"&status=1";
	    };
	    function refuseSell(tId, uId){
	        location.href="/changeTradeStatus?tId="+tId+"&uId="+uId+"&status=2";
	    };
	</script> 
</body>
</html>