<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main role="main" class="App-main">
		<div class="Topstory">
			<div class="Topstory-container">
				<div class="Topstory-mainColumn">
					<div class="Card Topstory-noMarginCard Topstory-tabCard" style="height:30px">
						<a style="font-size:15px;"> >>交易取消</a>
					</div>
					<div id="TopstoryContent" class="Topstory-content">
						<div class="Topstory-recommend">
							<div class="">
								<th:block th:each="trade : ${tradeCancelTarList}">
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<div class="tradeDescription">
											<p class="bookName" th:text="'书名：'+${trade.bookName}"></p>
											<p class="sendTo" th:text="'发起者：'+${trade.sourceName}"></p>
											<p class="description" th:text="'描述：'+${trade.cancelDescription}"></p>
											<div th:if=" ${trade.cancelStatus} eq '0'">
												<p class="status" th:text="'状态：申请中'"></p>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:approveCancel(\''+${trade.tcId}+'\',\''+${trade.targetId}+'\')'">同意取消</button>
												<button type="submit" style="border-style:none;color:green;" th:onclick="'javascript:refuseCancel(\''+${trade.tcId}+'\',\''+${trade.targetId}+'\')'">拒绝取消</button>
											</div>
											<div th:if=" ${trade.cancelStatus} eq '1'">
												<p class="status" th:text="'状态：申请成功'"></p>
											</div>
											<div th:if=" ${trade.cancelStatus} eq '2'">
												<p class="status" th:text="'状态：拒绝'"></p>
											</div>
										</div>
									</div>
								</th:block>
								<th:block th:each="trade : ${tradeCancelSrcList}">
									<div class="Card TopstoryItem TopstoryItem-isRecommend">
										<div class="tradeDescription">
											<p class="bookName" th:text="'书名：'+${trade.bookName}"></p>
											<p class="sendTo" th:text="'接收者：'+${trade.sourceName}"></p>
											<p class="description" th:text="'描述：'+${trade.cancelDescription}"></p>
											<div th:if=" ${trade.cancelStatus} eq '0'">
												<p class="status" th:text="'状态：申请中'"></p>
											</div>
											<div th:if=" ${trade.cancelStatus} eq '1'">
												<p class="status" th:text="'状态：申请成功'"></p>
											</div>
											<div th:if=" ${trade.cancelStatus} eq '2'">
												<p class="status" th:text="'状态：拒绝'"></p>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>