<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Result in All Books</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../../static/css/index.css" />

</head>
<body>
	<div th:include="TabTemplate::UpperTab"></div>

	<hr>

	<table>
		<tr>
			<td th:if="${pageInfo.hasPreviousPage}"><a
				th:href="'?uId=' + ${user.uId} + '&key=' + ${key} + '&pageNum=1'">首页</a></td>
			<td th:if="${pageInfo.hasPreviousPage}"><a
				th:href="'?uId=' + ${user.uId} + '&key=' + ${key} + '&pageNum=' + ${pageInfo.prePage}">上一页</a></td>
			<td th:each="navNum : ${pageInfo.navigatepageNums}"><a
				th:href="'?uId=' + ${user.uId} + '&key=' + ${key} + '&pageNum=' + ${navNum}"
				th:text=${navNum} th:if="${navNum != pageInfo.pageNum}"></a> <span
				style="font-weight: bold" th:text="${navNum}"
				th:if="${navNum == pageInfo.pageNum}"></span></td>
			<td th:if="${pageInfo.hasNextPage}"><a
				th:href="'?uId=' + ${user.uId} + '&key=' + ${key} + '&pageNum=' + ${pageInfo.nextPage}">下一页</a></td>
			<td th:if="${pageInfo.hasNextPage}"><a
				th:href="'?uId=' + ${user.uId} + '&key=' + ${key} + '&pageNum=' + ${pageInfo.pages}">尾页</a></td>
		</tr>
	</table>

	<hr>

	<main role="main" class="App-main">
	<div class="Topstory">
		<div class="Topstory-container">
			<div class="Topstory-mainColumn">
				<input type="hidden" id="hidden_key" th:attr="value=${key}" />
				<div class="Card Topstory-noMarginCard Topstory-tabCard"
					style="height: 200px">
					<a style="font-size: 15px;" th:text="' >>'+${key}+'的搜索结果'"></a>
					<p th:text="'合计出现 ' + ${hitCounts} +' 条相似记录'"></p>
					<p
						th:text="'以下是第 ' + ${pageInfo.startRow} + ' 条至第 ' + ${pageInfo.endRow} + ' 条'"></p>
					<div
						style="float: left; width: 12%; margin-right: 1%; background-color: yellow">
						信用
						<button type="button" th:onclick="'javascript:sortedByPara(1)'">
							Up</button>
						<button type="button" th:onclick="'javascript:sortedByPara(2)'">
							Down</button>
					</div>
					<div
						style="float: left; width: 12%; margin-right: 1%; background-color: yellow">
						价格
						<button type="button" th:onclick="'javascript:sortedByPara(3)'">升序</button>
						<button type="button" th:onclick="'javascript:sortedByPara(4)'">降序</button>
					</div>
					<div
						style="float: left; width: 12%; margin-right: 1%; background-color: yellow">
						时间
						<button type="button" th:onclick="'javascript:sortedByPara(5)'">升序</button>
						<button type="button" th:onclick="'javascript:sortedByPara(6)'">降序</button>
					</div>
					<div
						style="float: left; width: 12%; margin-right: 1%; background-color: yellow">
						热度值
						<button type="button" th:onclick="'javascript:sortedByPara(7)'">升序</button>
						<button type="button" th:onclick="'javascript:sortedByPara(8)'">降序</button>
					</div>
					<div
						style="float: left; width: 12%; margin-right: 1%; background-color: yellow">
						点击数
						<button type="button" th:onclick="'javascript:sortedByPara(9)'">升序</button>
						<button type="button" th:onclick="'javascript:sortedByPara(10)'">降序</button>
					</div>
					<div
						style="float: left; width: 12%; margin-right: 1%; background-color: yellow">
						浏览数
						<button type="button" th:onclick="'javascript:sortedByPara(11)'">升序</button>
						<button type="button" th:onclick="'javascript:sortedByPara(12)'">降序</button>
					</div>
					<div
						style="float: left; width: 12%; margin-right: 1%; background-color: yellow">
						点击率
						<button type="button" th:onclick="'javascript:sortedByPara(13)'">升序</button>
						<button type="button" th:onclick="'javascript:sortedByPara(14)'">降序</button>
					</div>
				</div>

				<div id="TopstoryContent" class="Topstory-content">
					<div class="Topstory-recommend">
						<div class="">
							<!-- 每个推荐书目标签 -->
							<th:block th:each="sr : ${pageInfo.list}">
								<div class="Card TopstoryItem TopstoryItem-isRecommend">
									<img class="bookImg" src="${sr.book.img}">
									<div class="bookDescription">
										<div class="" style="float: left; width: 60%">
											<a class="bookName" th:text="${sr.book.bookName}"
												th:href="'/bookDetail?bId='+${sr.book.bId}+'&uId='+${user.uId}"></a>
											<p class="bookPublisher"
												th:text="'出版社：'+${sr.book.publisher}"></p>
											<p class="bookAuthor" th:text="'作者：'+${sr.book.author}"></p>
											<p class="Credit" th:text="'卖家信用：'+${sr.credit}"></p>
											<p class="bookPrice" th:text="'所需积分：'+${sr.book.price}"></p>
										</div>
										<div class="" style="float: left">
											<p class="finalUpdateTime"
												th:text="'发布时间：'+${sr.book.finalUpdateTime}"></p>
											<p class="hotIndex" th:text="'热度值：'+${sr.webData.hotIndex}"></p>
											<p class="clicks" th:text="'点击数：'+${sr.webData.clicks}"></p>
											<p class="views" th:text="'浏览数：'+${sr.webData.views}"></p>
											<p class="clickThroughRate"
												th:text="'点击率：'+${sr.webData.clickThroughRate}"></p>
										</div>

									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>





	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
		function search() {
			location.href = "/searchAll?uId="
					+ document.getElementById("hidden_uId").value + "&key="
					+ document.getElementById("Popover1-toggle").value;
		};

		function myMessage() {
			location.href = "/myMessage?uId="
					+ document.getElementById("hidden_uId").value;

		}

		function sortedByPara(status) {
			location.href = "/searchAll?uId="
					+ document.getElementById("hidden_uId").value + "&key="
					+ document.getElementById("hidden_key").value + "&sort="
					+ status;

		}
	</script>

</body>
</html>
